.doctor-details{
    padding: 20px;
}
/* .doc-img img {
    width: 130px;
    height: 130px;
    border-radius: 6%;
}
.doc-contant h4, .doc-contant p {
    color: #8d9baa;
}
.doc-contant h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
.doc-contant span {
    display: block;
    font-weight: normal;
    font-size: 14px;
} */
