.row .submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    width : 40% ;
    margin-left: 250px;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.form-check-input {
    margin-right: 0.5rem; 
    /* margin-left: 250px; */
    padding: 10px;
  }
  
  /* Style for the checkbox label */
  .form-check-label {
    font-weight: 500; /* Make the label text bold */
    margin-top: 2px;
  }