.ms-card {
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    width: 70%;
    margin-left: 150px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.dropdown-ms{
    margin-left: 100px;
    padding: 20px;
    background-color: transparent;
}
.ms-card .btn-secondary {
    
    width:30%;
    margin-top: -40px;
    margin-left: -110px;
    padding: 10px;
}
/* .dropdown-toggle{
    margin-left: 500px;
} */
.dropdown-menu-ms{
    background-color: aqua;
}
.ms-label {
    font-weight: bold;
}

.ms-control {
    width: 100%;
}

.ms-text {
    font-size: 12px;
    color: #6c757d;
}

.ms-form-check {
    margin-top: 10px;
}

.ms-check-label {
    margin-left: 5px;
}

.ms1-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin-left: 150px;
}
