/* 
.table-container {
    margin-top: 10px;
  }
  
  .table {
    width: 50%;
    border-collapse: collapse;
    
  }
  
  .table th, .table td {
    padding: 8px;
    border: 1px solid #669e32;
    background-color: #dde2f0;
    font-size: 15px;
  }
  
  .table th {
    background-color: #c07171;
    font-weight: bold;
  }
   */